/******************************/
/* MEDIA QUERIES */
/******************************/

/****************************/
/* BREAKPOINT AT 75 REM / 1200PX*/
/****************************/

/* homepage */

@media screen and (max-width: 75rem) {
  .container {
    max-width: 40rem;
    /* padding: 0; */
  }

  .text {
    font-size: 1rem;
  }

  .text-smaller {
    font-size: 0.8rem;
  }

  .logo {
    margin-right: 2rem;
  }

  .nav-list {
    gap: 1.5rem;
    flex: 0.8;
  }

  .nav-list li a:link {
    font-size: 1.4rem;
  }

  .main-nav-list {
    gap: 1rem;
    flex: 0.8;
  }

  .main-nav-link:link {
    font-size: 1rem;
  }

  .cta {
    font-size: 1rem;
    font-weight: 500;
    /* width: 9rem; */
    /* padding: 0.5rem; */
  }

  .features-container {
    gap: 4rem;
  }

  .collection-hero {
    gap: 3rem;
  }

  .collection-cards-container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .cart-details {
    gap: 2rem;
  }
  .cart-details-text {
    gap: 2rem;
  }

  .about-sec-heading {
    margin-bottom: 1rem;
  }

  .contact-cta-container {
    gap: 2rem;
  }
}

/****************************/
/* BREAKPOINT AT 68 REM / 960PX */
/****************************/

@media screen and (max-width: 60rem) {
  .logo {
    margin: 1rem auto;
  }

  .features-container {
    grid-template-columns: 1fr;
  }

  .cta-container {
    justify-content: center;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  nav,
  .nav-icon {
    display: none;
  }

  .toggle-icon {
    display: block;
    cursor: pointer;
  }

  #menu-checkbox:checked ~ nav {
    display: block;
  }

  .nav-list {
    flex-direction: column;
  }

  header {
    position: relative;
    flex-direction: column;
  }

  .nav-list {
    position: absolute;
    top: 6rem;
    right: 0;
    left: 0;
    align-items: center;
    background-color: #ffffff;
    background-color: #3a606e;

    padding: 2rem 0;
    gap: 0.5rem;
    width: 100%;
  }

  .nav-list li {
    /* width: 100%; */
    text-align: center;
    line-height: 2;
  }

  .nav-list li a {
    width: 100%;
    display: block;
  }

  .main-nav-list,
  .main-nav-icons {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .cart-icon-number {
    font-size: 12px;
    padding: 4px 10px;
  }

  .collection-cards-container {
    grid-template-columns: 1fr;
  }

  .collection-hero-img {
    width: 100%;
  }

  .product-card {
    margin: 0 auto;
  }

  .product-info {
    flex-direction: column;
  }

  .cart-img {
    width: 20rem;
  }

  .cart-details {
    flex-direction: column;
    align-items: center;
  }

  /* NEW */

  .item-details-container {
    justify-content: center;
  }

  .item-description-container {
    flex-grow: 0;
  }

  .item-numbers-container {
    flex-direction: column;
    gap: 1rem;
  }

  .item-price-container {
    display: none;
  }
}

/****************************/
/* BREAKPOINT AT 38 REM / 608PX */
/****************************/

@media screen and (max-width: 38rem) {
  .section-footer {
    max-width: 100%;
  }

  .footer-flex-container {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
  }

  .section-hero .cta:link,
  .section-hero .cta:visited {
    color: #fff;
    background-color: #113340;
  }

  .section-hero .cta:hover,
  .section-hero .cta:active {
    background-color: #3a606e;
  }

  .cart-details-text {
    flex-direction: column;
    align-items: center;
  }

  .cart-prod-name,
  .cart-size,
  .cart-amount,
  .cart-price {
    padding-bottom: 1rem;
    border-bottom: 2px solid #113340;
  }

  .total-price {
    justify-content: center;
  }

  .confirmation-main-heading {
    font-size: 1rem;
    font-weight: 600;
  }

  .confirmation-text {
    font-size: 0.8rem;
  }

  .confirmation-main {
    justify-content: center;
  }

  .about {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .contact-cta-container {
    flex-direction: column;
    justify-content: center;
  }

  .contact-text {
    max-width: 26rem;
    text-align: center;
  }

  .contact-block {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 26rem;
    padding: 3rem;
  }
}

/* .sort-and-filter-container {
  display: flex;
  flex-direction: column;
} */
