/******************************/
/* MEDIA QUERIES */
/******************************/

/****************************/
/* BREAKPOINT AT 75 REM */
/****************************/

@media screen and (max-width: 75rem) {
  .container {
    max-width: 40rem;
    /* padding: 0; */
  }

  .text {
    font-size: 1rem;
  }

  .logo {
    margin-right: 2rem;
  }

  .main-nav-list {
    gap: 1rem;
    flex: 0.8;
  }

  .main-nav-link:link {
    font-size: 1rem;
  }

  .cta {
    font-size: 1rem;
    font-weight: 500;
    width: 9rem;
    padding: 0.5rem;
  }

  .features-container {
    gap: 4rem;
  }
}

/****************************/
/* BREAKPOINT AT 48 REM */
/****************************/

@media screen and (max-width: 60rem) {
  .hamburger-icon {
    display: inline-block;
    color: #113340;
    font-size: 2rem;
    padding: 3rem;
  }

  .main-nav-list {
    display: block;
  }

  .section-header {
    position: relative;
  }

  .main-nav {
    background-color: #fff;
    text-align: center;
    width: 15rem;
    display: none;
    position: absolute;
  }

  .logo {
    margin: 1rem auto;
  }

  .main-nav-icons {
    justify-content: center;
    margin: 1rem auto;
  }

  .main-nav a {
    display: block;
    padding-bottom: 1rem;
    width: 100%;
  }

  .hamburger-checkbox:checked ~ .main-nav {
    display: block;
  }

  .features-container {
    grid-template-columns: 1fr;
  }

  .cta-container {
    justify-content: center;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}
