/******************************/
/* MEDIA QUERIES */
/******************************/

/****************************/
/* BREAKPOINT AT 75 REM / 1200PX*/
/****************************/

/* homepage */

@media screen and (max-width: 75rem) {
  .container {
    max-width: 40rem;
    /* padding: 0; */
  }

  .text {
    font-size: 1rem;
  }

  .logo {
    margin-right: 2rem;
  }

  .main-nav-list {
    gap: 1rem;
    flex: 0.8;
  }

  .main-nav-link:link {
    font-size: 1rem;
  }

  .cta {
    font-size: 1rem;
    font-weight: 500;
    width: 9rem;
    padding: 0.5rem;
  }

  .features-container {
    gap: 4rem;
  }
}

/****************************/
/* BREAKPOINT AT 60 REM / 960PX */
/****************************/

@media screen and (max-width: 60rem) {
  .logo {
    margin: 1rem auto;
  }

  .features-container {
    grid-template-columns: 1fr;
  }

  .cta-container {
    justify-content: center;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .main-nav-list,
  .main-nav-icons {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

/****************************/
/* BREAKPOINT AT 38 REM / 608PX */
/****************************/

@media screen and (max-width: 38rem) {
  .section-footer {
    max-width: 100%;
  }

  .footer-flex-container {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
  }

  .section-hero .cta:link,
  .section-hero .cta:visited {
    color: #fff;
    background-color: #113340;
  }

  .section-hero .cta:hover,
  .section-hero .cta:active {
    background-color: #3a606e;
  }
}
