* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/****************************/
/* REUSABLE CSS */
/****************************/

/****************************/
/* CENTERED CONTAINER */
/****************************/

.container {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-narrow {
  max-width: 62rem;
  margin: 0 auto;
}

.container-narrowest {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
}

/****************************/
/* GRIDS */
/****************************/

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

/****************************/
/* SECTION: HEADER */
/****************************/

.section-header {
  width: 100vw;
  background-color: #fff;
  position: sticky;
  top: 0;
}

/****************************/
/* MAIN NAVIGATION */
/****************************/

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.logo-container {
  height: 6rem;
}

.nav-list {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin-right: 2rem;
}

.nav-list li a:link,
.nav-list li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #113340;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.nav-list li a:hover,
.nav-list li a:active {
  text-decoration: underline;
}

.nav-list li a.current:link,
.nav-list li a.current:visited,
.nav-list li a.current:hover,
.nav-list li a.current:active {
  text-decoration: underline;
}

.nav-icon {
  position: relative;
  display: inline-block;
}

.nav-icon:hover {
  transform: scale(1.18);
  transition: 0.2s ease-in-out;
}

.cart-icon-number {
  position: absolute;
  top: -10px;
  right: -20px;
  display: inline-block;

  background-color: orange;
  color: #113340;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 5px;
}

/****************************/
/* HAMBURGER MENU */
/****************************/

.toggle-icon {
  font-size: 1.5rem;
  color: #113340;
  top: 2.4rem;
  right: 2rem;
  position: absolute;
  display: none;
}

.menu-checkbox {
  display: none;
}

/****************************/
/* BREADCRUMBS */
/****************************/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.breadcrumbs a:link,
.breadcrumbs a:visited,
.breadcrumbs a:hover,
.breadcrumbs a:link {
  text-decoration: none;
  color: #113340;
}

.current-crumb {
  text-decoration: underline;
}

/****************************/
/* HEADINGS */
/****************************/

.primary-heading,
.secondary-heading,
.tertiary-heading {
  color: #113340;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.primary-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  /* margin-top: 3rem; */
}

.secondary-heading {
  font-size: 2rem;
}

.tertiary-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/****************************/
/* STANDARD TEXT */
/****************************/

.text {
  font-size: 1.5rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

.text-smaller {
  font-size: 1.2rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

.text-small {
  font-size: 0.9rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

/****************************/
/* CTA */
/****************************/

.cta-container {
  display: flex;
  gap: 2rem;
}

.cta {
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  background-color: #3a606e0f;
  text-decoration: none;
  /* width: 9rem; */
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

/* .cta:link,
.cta:visited {
  color: #113340;
} */

.cta:hover,
.cta:active {
  color: #fff;
  background-color: #113340;
}

.cta-dark:link,
.cta-dark:visited {
  border: 2px solid #113340;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 500;
  background-color: #113340;
}

.cta-dark:hover {
  color: #113340;
  background-color: #3a606e0f;
  background-color: #ffffff70;
  background-color: #ffffff3f;
}
/****************************/
/* SPECIFIC CSS */
/****************************/

/******************************************************/
/* HOMEPAGE */
/******************************************************/

/****************************/
/* SECTION: HERO */
/****************************/

.section-hero {
  width: 100%;
  height: 70vh;
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.hero-container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}

.hero-text-container {
  margin: 3rem 0 0 3rem;
}

.hero-text {
  margin: 2rem 0;
}
/****************************/
/* SECTION: MOST POPULAR JACKETS */
/****************************/

.section-popular {
  margin-bottom: 8rem;
}

.popular-sec-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.most-popular-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 0 auto;
  justify-content: center;
}

.product-card {
  width: 22rem;
  border-radius: 6px;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 10px 10px 20px #3a606e7a;
}

.product-card:hover {
  transform: scale(1.08);
  transition: 0.2s ease-out;
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
}

.card-link:hover,
.card-link:active {
  text-decoration: none;
  /* font-weight: 500; */
}

.card-img {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
}

.card-text-container {
  text-align: center;
  padding: 2rem;
}

.jacket-name {
  border-top: 2px solid #3a606e;
  margin-bottom: 1rem;
  color: #113340;
  font-size: 2rem;
  padding-top: 1rem;
}

.price {
  color: #113340;
  font-size: 1.5em;
}
/****************************/
/* SECTION: FEATURES */
/****************************/

.section-features {
  margin-bottom: 8rem;
}

.features-sec-heading {
  margin-bottom: 5rem;
  text-align: center;
}

.features-container {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
  gap: 7rem;
}

.feature-text {
  margin-bottom: 3rem;
}

.feature-img {
  max-width: 100%;
  border-radius: 6px;
}

/****************************/
/* SECTION: FOOTER */
/****************************/

.section-footer {
  max-width: 1920vw;
  background-color: #3a606e;
  color: #fff;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 2rem 5rem;
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.social-icon-text {
  font-size: 1.5rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.social-icon {
  color: #fff;
  font-size: 3rem;
  display: inline-block;
}

.social-icon-container a {
  padding: 0.5rem;
}

.copyright {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}

/******************************************************/
/* COLLECTION PAGE */
/******************************************************/

.collection-hero {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
}

.collection-hero-text {
  flex: 1;
}

.collection-hero-img {
  border-radius: 6px;
  width: 100%;
  flex: 1;
}

/* .collection-hero {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  height: 400px;
  margin-top: 3rem;
  margin-bottom: 6rem;
} */

/* .collection-hero-text-container {
  flex: 1;
  padding: 3rem;
} */

/* .collection-hero-img-container {
  background-image: url(../images/collection-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  border-radius: 6px;
  width: 100%;
  height: 400px;
} */

.collection-heading {
  text-align: center;
  margin-bottom: 3.5rem;
}

.collection-cards-container {
  gap: 2rem;
  margin-bottom: 8rem;
}

/******************************************************/
/* ABOUT PAGE */
/******************************************************/

.about-primary-heading {
  margin-top: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

.about {
  gap: 5rem;
  margin-bottom: 8rem;
}

.about-sec-heading {
  margin-bottom: 2rem;
}

.about-img {
  max-width: 100%;
  border-radius: 6px;
}
/* .about-img-container {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
} */

/* .about-img-1 {
  background-image: url(../images/about1.jpg);
} */

/* .about-img-2 {
  background-image: url(../images/about2.jpg);
} */

/******************************************************/
/* CONTACT PAGE */
/******************************************************/

.main-container {
  margin-top: 2rem;
}

.contact-prim-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.form-container {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.contact-fieldset {
  background-color: #3a606e66;
  border: none;
  border-radius: 16px;
  /* padding: 1rem; */
  margin-bottom: 3rem;
}

.fa-thumbs-up {
  color: #113340;
  font-size: 2rem;
}

.validation-success {
  text-align: center;
  color: #113340;
  font-size: 2rem;
  background-color: #fff;
  margin: 2rem;
  border-radius: 8px;
  border: 2px solid #113340;
  display: none;
}

#contact-form {
  margin: 1rem 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #113340;
}

.contact-input {
  background-color: #fff;
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  border-bottom: 2px solid #113340;
}

.contact-input::placeholder {
  color: #113340;
}

.inp-requirements {
  font-size: 0.8rem;
  margin-left: 0.1rem;
}

.form-error {
  color: rgb(204, 16, 16);
  font-size: 1rem;
  margin-top: 2px;
  display: none;
}

.contact-btn {
  background: #113340;
  border: none;
  width: 200px;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 6px;
  align-self: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.contact-btn:hover {
  border: 3px solid #113340;
  color: #113340;
  background-color: #fff;
}

.contact-btn:active {
  border: 2px solid #fff;
  color: #113340;
  /* color: #fff; */
  background-color: #3a606e0f;
  font-size: 1.2rem;
}

/* .main-container {
  margin-top: 6rem;
}

.contact-prim-heading {
  margin-bottom: 5rem;
}

.contact-text {
  margin-bottom: 2rem;
}

.contact-hours-container {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 4rem;
  justify-content: center;
}

.contact-cta-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 8rem;
}

.contact-block {
  flex: 1;
}

.contact-icon {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #113340;
}

.contact-info {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

.contact-btn {
  border: 2px solid #113340;
  border-radius: 6px;
  background-color: #e2ecf0;
  padding: 1rem;
  display: block;
  text-align: center;
}

.contact-btn:link,
.contact-btn:visited {
  text-decoration: none;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

.contact-btn:hover,
.contact-btn:active {
  color: #fff;
  background-color: #113340; 
}
  */

/******************************************************/
/* HEMSEDAL PAGE */
/******************************************************/

.product-info {
  display: flex;
  gap: 5rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.product-image-and-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-img {
  max-width: 500px;
  max-height: 450px;
  margin-bottom: 3rem;
  box-shadow: 10px 10px 20px #3a606e66;
  border-radius: 16px;
}

.product-text {
  max-width: 500px;
  font-size: 1.1rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detail-text {
  border-bottom: 2px solid #113340;
  max-width: 41rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.product-price {
  font-weight: 400;
}

.product-sec-heading {
  margin-bottom: 1rem;
}

.size-label {
  display: block;
}

.size.input {
  display: block;
}

.size-container {
  display: flex;
  gap: 2rem;
  max-width: 41rem;
  border-bottom: 2px solid #113340;
  margin-bottom: 3rem;
}

.size-options {
  display: flex;
  list-style: none;
  text-align: center;
  gap: 1rem;
}

.size-options li {
  border: 2px solid #113340;
  border-radius: 50%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.size-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #113340;
}

.size-option:hover,
.size-option:active {
  color: #fff;
  background-color: #113340;
  cursor: pointer;
}

.addToCart-btn:link,
.addToCart-btn:visited {
  max-width: 41rem;
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 500;
  background-color: #113340;
  margin-bottom: 1rem;
}

.addToCart-btn:hover,
.addToCart-btn:active {
  max-width: 41rem;
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
  background-color: #3a606e0f;
  font-weight: 500;
}

.addToCart-btn:active {
  background-color: #113340;
  color: #fff;
}

.viewCart-btn:link,
.viewCart-btn:visited {
  max-width: 41rem;
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
  background-color: #3a606e0f;
  font-weight: 500;
}

.viewCart-btn:hover,
.viewCart-btn:active {
  max-width: 41rem;
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 500;
  background-color: #3a606e;
  margin-bottom: 1rem;
}
/******************************************************/
/* CART PAGE */
/******************************************************/

.item-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #113340;
  border-bottom: 1px solid #113340;
  padding: 1rem 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 960px;
}

.item-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

.item-numbers-container {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.item-flex-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.fa-trash-can {
  font-size: 1.5rem;
}

.fa-trash-can:hover {
  cursor: pointer;
  color: #ed4001;
  transform: scale(1.18);
  transition: 0.2s ease-in-out;
}

.fa-trash-can:active {
  color: #113340;
  transform: scale(0.9);
  transition: 0.01s;
}

.item-img {
  width: 8rem;
  border-radius: 6px;
}

.item-cart-heading {
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.item-qty-icons-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #3a606e;
}

.item-qty-number {
  border: 1px solid #113340;
  padding: 0.1rem 1rem;
}

.qty-icons {
  font-size: 1.6rem;
  cursor: pointer;
}

.qty-icons:hover {
  transform: scale(1.18);
  transition: 0.2s ease-in-out;
}

.qty-icons:active {
  transform: scale(0.9);
  transition: 0.05s;
}

.item-total {
  font-weight: 600;
}

.cart-summary-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 960px;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.cart-total-text {
  font-weight: 600;
}
.total-sum-number {
  border-bottom: 6px double #113340;
}
/* ------------------------------- */

.cart-cta-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 8rem;
}

.cart-cta {
  /* display: block; */
  max-width: 30rem;
  margin: 0 auto;
  width: 100%;
}

/******************************************************/
/* CART2 PAGE */
/******************************************************/

.cart-main-heading {
  text-align: center;
  margin-top: 3rem;
}

.cart-items-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-headings {
  width: 100%;
  max-width: 650px;
  display: flex;
  border-bottom: 2px solid #113340;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.product-name {
  width: 30%;
}

.cart-pprice {
  width: 10%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 20%;
  display: flex;
  align-items: center;
}

.product-total {
  width: 20%;
  display: flex;
  align-items: center;
}

.remove {
  width: 20%;
  cursor: pointer;
}

.cart-detaljer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #113340; */
  width: 100%;
  max-width: 650px;
  display: flex;
  border-bottom: 2px solid #113340;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/******************************************************/
/* CHECKOUT PAGE */
/******************************************************/

/* .checkout-main-heading {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.checkout-details {
  background-color: #3a606e0f;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.checkout-sec-heading {
  margin-bottom: 2rem;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.form-flex-item {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
} */

/* input {
  font-size: 1.5rem;
} */

/* label {
  font-size: 1rem;
} */

/* ::placeholder {
  font-size: 1rem;
} */

/* select {
  font-size: 1rem;
} */

.confirmation {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.confirmation-btn:link,
.confirmation-btn:visited {
  display: block;
  border: 2px solid #113340;
  border-radius: 6px;
  padding: 1.5rem;
  color: #fff;
  background-color: #113340;
  text-decoration: none;
}

.confirmation-btn:hover,
.confirmation-btn:active {
  color: #113340;
  background-color: #3a606e0f;
}

/* NEW STYLING */

.checkout-prim-heading {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.checkout-form {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-sec-heading {
  text-align: center;
}

.checkout-fieldset {
  margin: 0 auto;
  margin-bottom: 4rem;
  background-color: #3a606e66;
  border-radius: 16px;
  border: none;
  padding: 1rem;
}

.checkout-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.shipping-details-container,
.payment-details-container {
  flex: 1;
  width: 100%;
}

.checkout-input {
  /* display: block;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 4px;
  color: #113340; */
  background-color: #fff;
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  border-bottom: 2px solid #113340;
  margin: 0 auto;
}

.checkout-submit-btn {
  border: 2px solid #113340;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  background-color: #3a606e0f;
  text-decoration: none;
  width: 9rem;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

/******************************************************/
/* CHECKOUT SUCCESS PAGE */
/******************************************************/

.confirmation-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #113340;
  border-radius: 6px;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.confirmation-main-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.confirmation-text {
  margin-bottom: 5rem;
}

.thank-you-text {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.continue-btn {
  margin-bottom: 5rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.continue-btn:link,
.continue-btn:visited {
  text-align: center;
  display: block;
  border: 2px solid #113340;
  border-radius: 6px;
  padding: 1.5rem;
  color: #fff;
  background-color: #113340;
  text-decoration: none;
}

.continue-btn:hover,
.continue-btn:active {
  color: #113340;
  background-color: #3a606e0f;
}
