* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*********************/
/* REUSABLE CSS */
/*********************/

/* CENTERED CONTAINER */
.container {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* GRIDS */

.grid {
  display: grid;
  gap: 7rem;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

/* SECTION: HEADER */

header {
  width: 100vw;
}

/* MAIN NAVIGATION */

.logo {
  height: 6rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
  max-width: 100vw;
  flex: 2;
  margin: 0 4rem 0 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #113340;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
  font-weight: 500;
}

.main-nav-link.current:link,
.main-nav-link.current:visited,
.main-nav-link.current:hover,
.main-nav-link.current:active {
  text-decoration: underline;
}

.main-nav-icons {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  font-size: 1.5rem;
}

.main-nav-icons a {
  color: #113340;
}

/* CHECKBOX HACK */

.nav-checkbox {
  display: none;
}

.nav-checkbox:checked ~ nav {
  display: none;
}

/* HEADINGS */

.primary-heading,
.secondary-heading,
.tertiary-heading {
  color: #113340;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.primary-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.secondary-heading {
  font-size: 2rem;
}

.tertiary-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* STANDARD TEXT */

.text {
  font-size: 1.5rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}

/* CTA */

.cta-container {
  display: flex;
  gap: 2rem;
}

.cta {
  border: 2px solid #113340;
  padding: 1.5rem;
  border-radius: 6px;
  font-size: 2rem;
  background-color: #3a606e0f;
  text-decoration: none;
  width: 198px;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.cta:link,
.cta:visited,
.cta:hover,
.cta:active {
  color: #113340;
}

.cta:hover,
.cta:active {
  color: #fff;
  background-color: #113340;
}

/*********************/
/* SPECIFIC CSS */
/*********************/

/* SECTION: HERO */

.section-hero {
  width: 100%;
  height: 90vh;
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6rem;
}

.hero-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text-container {
  margin: 3rem 0 0 3rem;
}

.hero-text {
  margin: 2rem 0;
}

/* SECTION: MOST POPULAR JACKETS */

.section-popular {
  margin-bottom: 8rem;
}

.popular-sec-heading {
  margin-bottom: 5rem;
  text-align: center;
}

.cards-container {
  display: flex;
  gap: 1.2rem;
  margin: 0 auto;
  justify-content: center;
  max-width: 63rem;
}

.product-card {
  width: 25rem;
  border: 3px solid #3a606e9a;
  border-radius: 6px;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 10px 10px 20px #3a606e7a;
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
}

.card-link:hover,
.card-link:active {
  text-decoration: underline;
  font-weight: 500;
}

.card-img {
  width: 100%;
  border-bottom: 2px solid #3a606e;
  padding: 1rem;
}

.card-text-container {
  text-align: center;
  padding: 2rem;
}

.jacket-name {
  margin-bottom: 1rem;
  color: #113340;
  font-size: 2rem;
}

.price {
  color: #113340;
  font-size: 1.5em;
}

/* SECTION: FEATURES */

.section-features {
  margin-bottom: 8rem;
}

.features-sec-heading {
  margin-bottom: 5rem;
  text-align: center;
}

.feature-text {
  margin-bottom: 3rem;
}

.feature-img {
  width: 100%;
}

/* SECTION: FOOTER */

.section-footer {
  max-width: 100vw;
  background-color: #3a606e;
  color: #fff;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 2rem 5rem;
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.social-icon-text {
  font-size: 1.5rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.social-icon {
  color: #fff;
  font-size: 3rem;
  display: inline-block;
}

.social-icon-container a {
  padding: 0.5rem;
}

.copyright {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}
